body {
    background-color: rgb(244,179,97);
}

h1 {
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
}

button {
   background-color:rgb(244,179,97);
   color:orangered;
   border-color: rgb(244,179,97);
}